@model InfoBMR




<style>
    body {
        background-color: seashell;
    }

</style>



<table class="table">
    <tr>
        <th>BMR</th>
        <th>Gender</th>
    </tr>
    <tr>
        <th>@Math.Round(@Model.bmr, 2)</th>
        <th>@Model.gender</th>
    </tr>
</table>


