@model InfoBMI


<table class="BMI">
    <tr>
        <th>BMI</th>
        <th>Health Class</th>
        <th>Healthy BMI Range</th>
    </tr>
    <tr>
        <th>@Model.bmi</th>
        <th>@Model.health</th>
        <th>@Model.healthy_bmi_range</th>
    </tr>
</table>
