@model InfoBMI



<style>
    body {
        background-color: seashell;
    }

</style>

<table class="table">
    <tr>
        <th>BMI</th>
        <th>Health Class</th>
        <th>Healthy BMI Range</th>
    </tr>
    <tr>
        <th>@Math.Round(@Model.bmi, 2)</th>
        <th>@Model.health</th>
        <th>@Model.healthy_bmi_range</th>
    </tr>
</table>
