@{
    ViewData["Title"] = "Fitness Info";
}
<h1 style ="text-align: center;">@ViewData["Title"]</h1>



<style>
    .parent {
        border: 0px solid grey;
        background: lightgrey;
        -webkit-box-shadow: 0px 0px 26px 8px rgba(0,0,0,0.39);
        -moz-box-shadow: 0px 0px 26px 8px rgba(0,0,0,0.39);
        box-shadow: 0px 0px 26px 8px rgba(0,0,0,0.39);
        border-radius: 10px;
        margin: 1rem;
        padding: 2rem 2rem;
    }

    body {
        background-color: seashell;
    }
</style>




<div class="parent" style="margin-top: 100px;">
    <h1>These links have tons of information about BMI, BMR, and BFP!</h1>

    <h3 style="text-align: center;"><a href="https://www.cdc.gov/healthyweight/assessing/bmi/adult_bmi/index.html">BMI</a>, <a href="https://www.garnethealth.org/news/basal-metabolic-rate-calculator#:~:text=BMR%20Definition%3A%20Your%20Basal%20Metabolic,stayed%20in%20bed%20all%20day.">BMR</a>, and <a href="https://www.nerdfitness.com/blog/body-fat-percentage/">BFP</a>!</h3>
</div>